<?nextrec?>
<?output "../../web/models/=$title&f$=.html"?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>=$title$= | Portable Wisdom</title>
	<meta name="description" content="=$title$= page for the Portable Wisdom site" />
<?include "../includes/head-links.html" ?>
</head>
<body>

<?include "../includes/header.html" ?>

	<nav id="main-nav">
		<ul>
			<li>
				<a href="quotes/index.html">
					Quotes
				</a>
			</li>
			<li class="nav-current">
				<a href="models/index.html">
					Models
				</a>
			</li>
			<li>
				<a href="songs/index.html">
					Songs
				</a>
			</li>
			<li>
				<a href="posts/index.html">
					Posts
				</a>
			</li>
			<li>
				<a href="topics/index.html">
					Topics
				</a>
			</li>
			<li>
				<a href="more.html">
					More
				</a>
			</li>
		</ul>
	</nav>

	<main>
	
		<p><em>Models</em></p>
		
		=$parent-slug$=
		
		=$title-display-slug$=
		
<?if "=$image-name$=" ?>
<?copyfile "../../content/models/files/=$imagename$=" "../../web/images/=$imagename&f$=" ?>
<?endif?>
		
		=$image-slug$=

		=$body&w1o$=
		
		=$children-slug$=
		
		=$next-slug$=

	</main>

<?include "../includes/footer.html" ?>

</body>
</html>
<?loop?>
