<?output "../../web/models/index.html"?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>List of Models | Portable Wisdom</title>
	<meta name="description" content="A List of Models described on Portable Wisdom" />
<?include "../includes/head-links.html" ?>
</head>
<body>

<?include "../includes/header.html" ?>

<?include "../includes/nav-menu.html" ?>

	<main>

		<h1>Reference Models</h1>

		<p>These are models. </p>
		
		<ul>
<?nextrec?>
			<li>
				<a href="=$title&f$=.html">
					=$title$=
				</a>
			</li>
<?loop?>
		</ul>

	</main>

<?include "../includes/footer.html" ?>

</body>
</html>

