<?nextrec?>
<?output "../../web/=$path$="?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
<?if "=$title$=" eq "Index"?>
	<title>Home | Portable Wisdom</title>
<?else?>
	<title>=$title$= | Portable Wisdom</title>
<?endif?>
	<meta name="description" content="=$title$= page for the Portable Wisdom site" />
<?include "../includes/head-links.html" ?>
</head>
<body>

<?include "../includes/header.html" ?>

<?include "../includes/nav-menu.html" ?>

	<main>

=$body&o$=

<?if "=$title$=" eq "Index"?>
<?include "../includes-gen/home-page-news.html" ?>
<?include "../includes/back-to-top.html" ?>
<?endif?>

	</main>

<?include "../includes/footer.html" ?>

</body>
</html>
<?loop?>
