<?nextrec?>
<?definegroup 1 "=$tag&f$=" ?>
<?ifendgroup 1 ?>
<?endif?>
<?ifnewgroup 1 ?>
<?output "../includes-gen/tag-=$tag&f$=-quotes.html" ?>
<h2>Notable Quotations on the topic of =$tag$=</h2>

<?endif?>
		<hr />

		<h3>=$title$=</h3>

		<blockquote>
			=$body&o$=
		</blockquote>

<?if "=$knownworktitle$=" ?>
		<p>From =$theworktypeslug$=
<?if "=$worklink$=" ?>
			<a href="=$worklink$=">
<?endif?>
<?if =$majorwork$= eq true ?>
			<cite>=$worktitle$=</cite>
<?else?>
			&ldquo;=$worktitle$=&rdquo;
<?endif?>
<?if "=$worklink$=" ?>
			</a>
<?endif?>
		</p>
<?endif?>
<?if "=$date$=" ?>
		<p>&mdash; =$date$=</p>
<?endif?>

		<p class="perma-link">
			<a href="../quotes/=$title&f$=.html">
				Permalink for Quote
			</a>
		</p>
<?loop?>
