<?nextrec?>
<?output "../../web/quotes/=$title&f$=.html"?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>Quote: =$title$= | Portable Wisdom</title>
	<meta name="description" content='A Quotation from =$author$= concerning "=$title$="' />
<?include "../includes/head-links.html" ?>
</head>
<body>

<?include "../includes/header.html" ?>

<?include "../includes/nav-menu.html" ?>

	<main>
	
		<p><em>Quotes</em></p>

		<h1>=$title$=</h1>

		<p class="tags-align">=$tags&gtopics/;tag-link$=</p>

		<blockquote>
			=$body&o$=
		</blockquote>

		<p>&mdash; <a href="../authors/=$author&f$=.html">=$author&,$=</a>=$date&,$=</p>

<?if "=$knownworktitle$=" ?>
		<p>From =$theworktypeslug$=
<?if "=$worklink$=" ?>
			<a href="=$worklink$=">
<?endif?>
<?if =$majorwork$= eq true ?>
			<cite>=$worktitle$=</cite>
<?else?>
			&ldquo;=$worktitle$=&rdquo;
<?endif?>
<?if "=$worklink$=" ?>
			</a>
<?endif?>
		</p>
<?endif?>

<?if "=$work-rights-slug$="?>
		<p>=$work-rights-slug$=</p>
<?endif?>

	</main>

<?include "../includes/footer.html" ?>

</body>
</html>
<?loop?>
