<?nextrec?>
<?definegroup 1 "=$tag-file-name$=" ?>
<?ifendgroup 1 ?>
<?endif?>
<?ifnewgroup 1 ?>
<?output "../../web/topics/=$tag-file-name$=" ?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>Topic: =$tag$= | Portable Wisdom</title>
	<meta name="description" content='Portable Wisdom on the Topic of =$tag$=' />
<?include "../includes/head-links.html" ?>
</head>
<body>

<?include "../includes/header.html" ?>

<?include "../includes/nav-menu.html" ?>

	<main>
	
		<p><em>Topics</em></p>

		<h1>=$tag$=</h1>
		
<?include "../includes-gen/tag-=$tag&f$=-models.html" ?>
		
<?include "../includes-gen/tag-=$tag&f$=-songs.html" ?>
		
<?include "../includes-gen/tag-=$tag&f$=-quotes.html" ?>

	</main>

<?include "../includes/footer.html" ?>

</body>
</html>
<?loop?>
