<?output "../../web/random.html"?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>Random Wisdom</title>
<?include "includes/head-links.html" ?>
</head>
<body>

	<main>

		<h1> &nbsp; </h1>

	</main>

<script>
var wfilename = new Array();
var ix = 0;
<?nextrec?>
wfilename[ix] = "=$folder$=/=$title&f$=.html";
ix++;
<?loop?>
var max = ix;

var now = new Date();
var seed = now.getTime() % 0xffffffff;

randomWisdom()

function rand(n) {
  seed = (0x015a4e35 * seed) % 0x7fffffff;
  return (seed >> 16) % n;
}

function randomWisdom() {
  rw = rand(max);
  if (rw < 0) {
    rw = 0;
  }
  if (rw >= max) {
    rw = max - 1;
  }
  var page = wfilename[rw];
	window.location.replace(page);
}
</script>
</body>
</html>
